


.error{
  background-color: red;
  color: white;
}

.state-err-true{
	color:red;
}
.state-err-false{
  color:green;
}

.state-err-null{
  color:blue;
}

.state-err-undefined{
	color:orange;
}

.fa{
  margin-right: 5px;
}

.log-date-text{
  font-size: 10px;
  margin-right: 11px;
}

.job-icon{
	font-size: 22px;
	color: black;
}	


 paper-shadow,
paper-animated-shadow {
  display: block;
  position: relative;
}

paper-shadow::shadow #shadow-bottom,
paper-shadow::shadow #shadow-top {
  border-radius: inherit;
  pointer-events: none;
}

paper-shadow::shadow #shadow-bottom[animated],
paper-shadow::shadow #shadow-top[animated] {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.paper-shadow-top-z-1 {
  box-shadow: none;
}

.paper-shadow-bottom-z-1 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.paper-shadow-top-z-2 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.paper-shadow-bottom-z-2 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.paper-shadow-top-z-3 {
  box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19);
}

.paper-shadow-bottom-z-3 {
  box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.3);
}

.paper-shadow-top-z-4 {
  box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17);
}

.paper-shadow-bottom-z-4 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
}

.paper-shadow-top-z-5 {
  box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.paper-shadow-bottom-z-5 {
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3);
}

.card{
    margin-bottom: 22px;
}
.card:hover{
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-top: 60px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.ellipsed{
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}